<a href="https://colab.research.google.com/github/izumatthew/HHA504_E2E/blob/main/E2E.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sqlalchemy import create_engine

In [2]:
import pandas as pd

In [ ]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.5 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [ ]:
from sqlalchemy import create_engine

In [ ]:
MYSQL_HOSTNAME = '52.188.215.210' # change this to your IP address which is found on your AZURE dashboard 
MYSQL_USER = 'dba'
MYSQL_PASSWORD = 'ahi2021'
MYSQL_DATABASE = 'AHIServer'

connection_string = f'mysql+pymysql://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOSTNAME}/{MYSQL_DATABASE}'
engine = create_engine(connection_string)

In [4]:
csvfile = pd.read_csv('H1N1_Flu_Vaccines.csv')

In [5]:
csvfile

       respondent_id  h1n1_concern  ...  h1n1_vaccine  seasonal_vaccine
0                  0           1.0  ...             0                 0
1                  1           3.0  ...             0                 1
2                  2           1.0  ...             0                 0
3                  3           1.0  ...             0                 1
4                  4           2.0  ...             0                 0
...              ...           ...  ...           ...               ...
26702          26702           2.0  ...             0                 0
26703          26703           1.0  ...             0                 0
26704          26704           2.0  ...             0                 1
26705          26705           1.0  ...             0                 0
26706          26706           0.0  ...             0                 0

[26707 rows x 38 columns]

In [6]:
csvfile.to_sql('diabetic_data', con=engine, if_exists='append')

NameError: ignored